*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #022C44;
}

.container{
    max-width: 1360px;
    width: 100%;
}

header{
    position: sticky;
    top: 0;
    z-index: 3;
    height: 100px;
    background-color: rgba(1, 41, 65, 0.95);
}

.fontStyle{
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    font-size: 1.1em;
}

/*remove o margin default dos elementos*/
.dropdown, header p{
    margin: 0px;
}

/*comunidade & suporte, cosméticos & comprar cash*/
.navbar-collapse p, .navbar-collapse .fontStyle a.nav-link{
    color: white;
    cursor: pointer;
}

.navbar-collapse p:hover, .navbar-collapse .nav-link.show, .navbar-collapse .fontStyle a.nav-link:hover{
    color: rgb(221, 221, 221);
}

#navListaConta li a{
    color: rgb(1, 206, 1);
    text-decoration: none;
    font-size: 17px;
    transition: 0.5s;
}

#navListaConta li a:hover{
    color: rgb(0, 167, 0);
}

#logo_header{
    width: 90px;
    cursor: pointer;
    transition: 0.4s;
}

#logo_header:hover{
    transform: scale(1.06);
}

.dropdown-toggle::after {
    display: none;
}

@media screen and (min-width: 360px) and (max-width: 767px){
    .navbar-brand{
        display: none;
    }
    header{
        max-height: 325px;
        height: 100%;
    }
    .nav-item, .nav-link{
        max-width: 91px;
        width: 100%;
    }
    /*===== ↑ estlizações do header =====*/
    .containermain{
        padding: 0;
    }
    .navLateral{
        display: none;
    }
    .article-content{
        flex-direction: column;
    }
    section h5{
        margin: 10px 0 10px 0;
    }
    .lista-buff{
        padding: 0 0 0 15px;
    }
    section ul li{
        padding-bottom: 10px;
    }
}

.colheader{
    height: 350px;
    position: relative;
}

.colheader h1{
    color: white;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
}

.imgbg{
    background-image: url(../lib/images/img_noticia1.png);
    background-position: center center;
    background-size: cover;
    height: 100%;
    opacity: 60%;
}

.info-postagem{
    color: #ccc;
}

main h2{
    font-size: 1.9em;
}

main h5{
    font-size: 1.4em;
}

main h6, main p{
    font-size: 1.1em;
}

.articlebg{
    background-color: #063753;
    border-radius: 5px;
    color: white;
    height: fit-content;
}

.article-content{
    display: flex;
}

.navLateral{
    background-color: #063753;
    border-radius: 5px;
    color: white;
    height: fit-content;
    padding: 12px;
    position: sticky;
    top: 110px;
    width: 250px;
    z-index: 1;
}

ol li{
    padding-bottom: 8px;
}

ol li::marker{
    font-weight: bold;
}

ol .nav-link:hover{
    color: #c7c7c7;
}

.bi-arrow-down{
    color: rgb(255, 30, 30);
    font-size: 18px;
}

.bi-arrow-up{
    color: rgb(2, 192, 18);
    font-size: 18px;
}

.nome-personagem{
    border-bottom: 3px solid rgba(0, 0, 0, 0);
    transition: 0.5s;
    width: fit-content;
}

.nome-personagem:hover{
    border-bottom: 3px solid rgb(0, 94, 66);
}

img[alt="Foto do personagem"]{
    height: fit-content;
}

#attMenu-carousel img{
    width: 100%;
    border-radius: 5px;
}

footer{
    margin-top: 200px;
    padding: 20px;
    background-color: #011c2c;
    text-align: center;
    color: white;
}