*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #022C44;
}

.container{
    max-width: 1360px;
    /* por que ao aplicar esse padding a página cria uma rolagem horizontal?
    padding: 0;*/
    width: 100%;
}

header{
    position: sticky;
    top: 0;
    z-index: 1;
    height: 100px;
    background-color: rgba(1, 41, 65, 0.95);
}

.fontStyle{
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    font-size: 1.1em;
}

/*remove o margin default dos elementos*/
.dropdown, header p{
    margin: 0px;
}

/*comunidade & suporte, cosméticos & comprar cash*/
.navbar-collapse p, .navbar-collapse .fontStyle a.nav-link{
    color: white;
    cursor: pointer;
}

.navbar-collapse p:hover, .navbar-collapse .nav-link.show, .navbar-collapse .fontStyle a.nav-link:hover{
    color: rgb(221, 221, 221);
}

#navListaConta li a{
    color: rgb(1, 206, 1);
    text-decoration: none;
    font-size: 17px;
    transition: 0.5s;
}

#navListaConta li a:hover{
    color: rgb(0, 167, 0);
}

#logo_header{
    width: 90px;
    cursor: pointer;
    transition: 0.4s;
}

#logo_header:hover{
    transform: scale(1.06);
}

/* .dropdown-menu{
    width: 25%;
    position: absolute;
} */

/* pint000 nav ul{
    solução de alinhamento vertical chatGPT
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
} */

/*?????
#imgSparta{
    display: flex;
    pesquisar o que faz esse item align-self: baseline;
    align-self: baseline;
    margin-right: 100px;
}*/

/* .dropdown{
    color: white;
    pint000 por que ao usar width: 100% o "comprar cash fica em um bloco?"
    width: 100%;
} */

.dropdown-toggle::after {
    display: none;
}

.container_main{
    padding-top: 300px;
}

main button{
    padding: 8px 0;
    width: 240px;
    border-radius: 12px;
    border: none;
    color: white;
    background-color: #59AE04;
    transition: 0.5s;
    font-size: 22px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

main button:hover{
    background-color: #458802;
    color: rgb(214, 214, 214);
}

main button > small{
    font-size: 14px;
    margin: 0;
    color: #ccc;
    font-style: italic;
}

/*pint000 https://prnt.sc/UbsUVrGtDPDR - estilização interessante*/

.container_main{
    background-image: url(../lib/images/background_body.png);
    background-size: cover; /*cobre o espaço com a imagem*/
    background-position: center center; /*(lado da imagem) centraliza o centro da img no centro da tela (posição da tela)*/
    max-width: 1360px;
    width: 100%;
    height: 400px;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 30px;
}

#novidades{
    padding: 20px;
}

#novidades a{
    text-decoration: none;
}

#novidades h2{
    text-align: center;
}

.container_novidade{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    /* espaçamento 20px row e 20px cloumn */
    gap: 20px;
}

.container_novidade h2{
    color: white;
    width: 100%;
    margin: 300px 0 50px 0;
    font-size: 35px;
}

.novidade{
    background-color: rgba(128, 128, 128, 0.767);
    border-radius: 12px;
    width: 45%;
    padding: 20px;
}

.novidade img{
    width: 100%;
    border-radius: 10px;
}

/* .novidade{   
    border-radius: 12px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    text-align: justify;
    word-break: break-all;
    font-size: 16px;
    margin: 0 5% 20px;
    transition: 0.5s;
}

.novidade img{
    width: 100%;
} */

.novidade h3{
    color: white;
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px;
}

#novidadesplus{
    display: none;
}

.botaomostrar{
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

#divMostrarNov p{
    font-size: 1.2em;
    margin: 0;
}

#divMostrarNov{
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border-radius: 12px;
    cursor: pointer;
    padding: 0.8em;
    transition: 0.4s;
}

#divMostrarNov:hover{
    background-color: rgba(255, 255, 255, 0.336);
    transition: 0.4s;
}

.span_setaNoticia{
    font-size: 18px;
    color: black;
    padding: 5px 0 0 3px;
}

.lermais{
    font-weight: 600;
    color: gold;
    transition: 0.5s;
}

.lermais:hover{
    color: rgb(185, 158, 3);
}

.carousel-inner{
    max-width: 500px;
}

#cosmeticos{
    color: white;
}

.cabecalho_cosmeticos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#cosmeticos h1{
    margin-top: 100px;
    text-align: center;
}

.cabecalho_cosmeticos input{
    padding: 8px;
    width: 237px;
    height: 100%;
    border-radius: 12px;
    border: 1px solid transparent;
}

.cabecalho_cosmeticos input:focus{
    outline: none;
    border: 1px solid greenyellow;
}

#pesquisa_cosm{
    margin: 30px 0 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

i.bi.bi-search{
    margin-left: 5px;
    font-size: 24px;
    background-color: rgba(0, 34, 54, 0.95);
    height: 35px;
    width: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

i.bi.bi-search::before{
    margin-left: 3px;
}

footer{
    margin-top: 200px;
    padding: 20px;
    background-color: #011c2c;
    text-align: center;
    color: white;
}

#cosmeticos .row .card-footer{
    display: flex;
    justify-content: center;
}

.card-body p{
    text-align: justify;
    word-break: break-all;
}

.verde{
    background-color: rgb(0, 170, 119);
    border-radius: 3px;
}

@media screen and (min-width: 360px) and (max-width: 767px){
    .navbar-brand{
        display: none;
    }
    header{
        max-height: 325px;
        height: 100%;
    }
    .nav-item, .nav-link{
        max-width: 91px;
        width: 100%;
    }
    /*===== ↑ estlizações do header =====*/
    #novidades{
        padding: 0;
    }
    .novidade{
        width: 80%;
    }
    .carousel-inner{
        max-width: 335px;
    }
    #rowCosmeticos{
        padding: 20px;
        justify-content: center;
    }
    #rowCosmeticos .card-header{
        text-align: center;
    }
    .col-md-3.pt-5{
        width: 80%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    #novidades{
        padding: 0;
    }
    .novidade{
        width: 40%;
    }
    #rowCosmeticos{
        padding: 20px;
        justify-content: center;
    }
    #rowCosmeticos .card-header{
        text-align: center;
    }
    .col-md-3.pt-5{
        width: 45%;
    }
}